<!--
  Generated template for the ContactusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Through this page you can contact us with your queries or complaints. We will do our best to meet your service expectation.
<br><br>
  Telephone: 01744-234272/3(9am to 9pm everyday)
<br><br>
OR, Write to us.. customercare@meliram.com
<br><br>
Address:
<br>
Meli Ram Yashpal Jain<br>
Palika Bazar, Thanesar, Kurukshetra-136118, Haryana

</ion-content>
