<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
<div class="outer">
  <div class="middle">
    <div class="inner">
      <img src="assets/imgs/icon.png">
      <form [formGroup]="credentialsForm">

          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input [formControl]="credentialsForm.controls['email']"
                type="email"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input [formControl]="credentialsForm.controls['password']"
                type="password"></ion-input>
          </ion-item>      
        
          <ion-row>
            <ion-col text-center>
              <button ion-button block color="secondary" (click)="onSignIn()">
                Sign in
              </button>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col text-center>
              <button ion-button clear color="dark" (click)="onForgotPassword()">
                Forgot your password?
              </button>
              <br>
              <button ion-button clear color="dark" (click)="onSignup()">
                Don't have an Account? Signup
              </button>
            </ion-col>
          </ion-row>
        
        </form>
      </div>
    </div>
  </div>
</ion-content>
