<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="productList" *ngIf="product.length==0">
    <p text-center>No Product in cart</p>
    <button ion-button (click)="continueShop()" class="shopbtn">Continue Shopping</button>
  </div>  
  <div class="productList" *ngIf="product.length>0">
    <ion-row class="productrow" *ngFor="let categories of product">
      <ion-col col-4>
         <img src="{{imageUrl}}{{categories.image}}">
      </ion-col>
      <ion-col col-8>
        <ion-row>
          <ion-col>
            {{categories.name}}
            <br>
            {{categories.company}}
          </ion-col>
          <ion-col>
            <ion-icon name="ios-trash-outline" (click)="deleteData(categories.id)" style="float: right; font-size: 24px;"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p style="font-weight: bold;">
              Rs {{categories.quantity * categories.price}}
            </p>
          </ion-col>
          <ion-col>
            <!-- <button ion-button color="dark" class="probutton">Add to Cart</button> -->
            <div class="cartBt">
              <div class="cartBtn">
                <button ion-button color="dark" class="probutton" (click)="qtyminus(categories.id, categories.quantity)" >-</button>
              </div>
              <div class="cartBtn">
                <button ion-button color="dark" class="probutton">{{categories.quantity}}</button>
              </div>
              <div class="cartBtn">
                <button ion-button color="dark" class="probutton" (click)="qtyplus(categories.id, categories.quantity)" >+</button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <br><br><br><br><br>
</ion-content>
<ion-footer *ngIf="product.length>0">
    <ion-toolbar class="footer-back">
      <ion-row>
        <ion-col class="footer-badge1" text-center (click)="placeorder()">
            Placeorder&nbsp;
            <ion-icon item-right name="ios-arrow-dropright-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>