<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
      <h3>
        {{data.name}}
      </h3>
      <p>
        {{data.email}}<br>
        {{data.mobileno}}
      </p>
  </div>
  <div class="ordersec">    
    <ion-title padding text-center>
      Order History
    </ion-title>
  </div>
  <div *ngIf="orders && orders.length==0">
    <p text-center padding>
      No Order Placed Yet !
    </p>
  </div>
  <div *ngIf="orders.length>0">
    <ion-card *ngFor="let order of orders">
      <ion-card-header>
        Date: {{order.order_created_date | date:'medium'}}
      </ion-card-header>
      <ion-item *ngFor="let prod of order.order_pro_arr">
        <ion-avatar item-start>
          <img src="{{data.prod_image_url}}{{prod.product_image}}">
        </ion-avatar>
        <h3>{{prod.product_name}}</h3>
        <p>{{prod.product_company}}</p>
        <p>Rs. {{prod.pro_price}}</p>
        <p>Qty. {{prod.pro_quantity}}</p>
      </ion-item>
    
    </ion-card>
  </div>
</ion-content>
