<!--
  Generated template for the OtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Verify OTP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="outer">
    <div class="middle">
      <div class="inner">
        <!-- <div>
          <form [formGroup]="emailForm">
    
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input [formControl]="emailForm.controls['email']"
                  type="email"></ion-input>
            </ion-item>
      
            <ion-row>
              <ion-col text-center>
                <button ion-button block color="secondary" (click)="onEmail()">
                  Submit
                </button>
              </ion-col>
            </ion-row>
  
          </form>  
        </div>   -->
        <div>
          <form [formGroup]="otpForm">
    
            <ion-item>
              <ion-label floating>OTP</ion-label>
              <ion-input [formControl]="otpForm.controls['otp']"
                  type="text" [(ngModel)]="otp"></ion-input>
            </ion-item>
      
            <ion-row>
              <ion-col text-center>
                <button ion-button block color="secondary" (click)="submitOtp(otp)">
                  Submit
                </button>
              </ion-col>
            </ion-row>
          </form> 
        </div>
      </div>
    </div>
  </div>      
</ion-content>
