page-home {
    .categories{
        background-image: url(../assets/imgs/15.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40em;
        .catitle{
            color: #000;
            font-size: 20px;
            padding: 10px;
        }
    }
    .headnm{
        .toolbar-title{
            font-size: 1.5rem;
        }
    }
    .headnm .toolbar-title{
        font-size: 1.2rem;
      }
}
