<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-left *ngIf="data" class="headnm">
      Hi {{data.name}} <br>Welcome to Meli Ram Store
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="goProfile()" >
        <ion-icon name="ios-person">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="slider && slider.slider.length">
    <ion-slides autoplay="5000" loop="true" speed="2000" effect="fade">
        <ion-slide *ngFor="let slide of slider.slider">
          <img src="{{slider.slider_image_url}}{{slide.image}}" />
        </ion-slide>
      </ion-slides>
  </div>
  <div class="categories" padding>
    <div text-center padding class="catitle " >
      Shop By Category
    </div>
    <div class="category" text-center *ngFor="let categories of category" (click)="subcategoryPage(categories.id, categories.name)">
      <img [src]="categories.image">
      <span class="ellipsis-single">{{categories.name}}</span>
    </div>
  </div>
</ion-content>
