// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background-md{
  border-color: #017E3A;
  background: #017E3A;
}
.follow{
  width: 70%;
  float: left;
}
.flwing{
  height: 20px;
  width: 10px;
  float: left;
}
.flwtwt{
  height: 25px;
  width: 25px;
  float: left;
  margin-left: 12px;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color: #fff;
}
.toolbar-title{
  color: #fff;
}
.complogo{
  width: 10em;
  margin: 0 auto;
  display: block;
}
.ordersec{
  background: #e5e5e5;
}
.footer-badge{
  font-size: 11px;
  color: #fff;
  position: absolute;
}
.footer-badge1{
  color: #fff;
}
.shopbtn{
  margin: 0 auto;
  display: block;
}
.footer-back{
  .toolbar-background-md{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e52d34+1,e53d43+49,e54247+51,e66066+100 */
      background: #e52d34; /* Old browsers */
      background: -moz-linear-gradient(left, #e52d34 1%, #e53d43 49%, #e54247 51%, #e66066 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #e52d34 1%,#e53d43 49%,#e54247 51%,#e66066 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #e52d34 1%,#e53d43 49%,#e54247 51%,#e66066 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e52d34', endColorstr='#e66066',GradientType=1 ); /* IE6-9 */
  }
}
.ellipsis-single {
  // width: 12em;
  overflow: hidden;
  font-size: 11px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.submenu{
  padding-left: 40px;
  margin-bottom: 2px;
  ion-list-header{
    button{
      font-size: 13px;
      color: #7b7878;
    }
  }
}
.list-header-md {
  margin-bottom: 0px;
}
.label-md {
  margin: 2px 8px 2px 0;
}
::placeholder {
  color: #fff!important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff!important;
}
 
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #000;
  -webkit-box-shadow: inset 0 -1px 0 0 #000;
  box-shadow: inset 0 -1px 0 0 #000;
}
.item-md.item-input.input-has-focus.item-inner, .item-md.item-input.item-input-has-focus .item-inner{
  border-bottom-color: #000;
  -webkit-box-shadow: inset 0 -1px 0 0 #000;
  box-shadow: inset 0 -1px 0 0 #000;
}
.item-input-has-focus.label-md[stacked], .input-has-focus.label-md[floating], .input-has-focus .label-md[floating]{
  color: #000;
}
.input{
  color: #000;
}
ion-card img{
    height: 80px;
}
ion-col img{
  height: 100px;
}
ion-badge{
  position: absolute;
  top: -10px;
  left: 12px;
}
.cartBt{    
  width: auto;
  float: right;
}
.cartBtn{
  float: left;
  .button{
    margin: 0px;
    width: 0px;
    box-shadow: none;
    border-radius: 0px;
  }
}
.probutton{
  background: #E66066;
}
.productrow {
  border-bottom: 1px solid #efecec;
  padding: 6px 0px;
}
.category{
    width: 30%;
    float: left;
    border: 1px solid #f5f5f5;
    background: #fff;
    padding: 4px 4px;
    margin: 5px;
}
.outer {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*whatever width you want*/
  }