<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img class="complogo" src="assets/imgs/icon.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <ion-list class="accordion-list">
          <!-- First Level -->
          <ion-list-header *ngFor="let item of category; let i = index" no-lines no-padding>
            <!-- Toggle Button -->
            <button ion-item (click)="toggleSection(i, item.id)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
                {{ item.name }}
              <ion-icon item-right [name]="isGroupShown(i) ? 'ios-remove' : 'ios-add'"></ion-icon>
            </button>
       
            <ion-list class="submenu" *ngIf="item.id == category_id" no-lines>
              <!-- Second Level -->
              <ion-list-header *ngFor="let child of subcategory; let j = index" no-padding>
                <!-- Toggle Button -->
                <button ion-item *ngIf="child.name" class="child" detail-none menuClose (click)="productPage(child.id, child.name)">
                    {{ child.name }}
                </button>
       
              </ion-list-header>
            </ion-list>
            
          </ion-list-header>
          <button menuClose ion-item no-lines (click)="contactusPage()">
            Contact Us
          </button>
          <button menuClose ion-item no-lines>
            <div text-left class="follow">
              Follow Us 
            </div>
            <img class="flwing" src="assets/imgs/fb.png">&nbsp;&nbsp;&nbsp;&nbsp;
            <img class="flwtwt" src="assets/imgs/twt.png">
          </button>
          <button menuClose ion-item (click)="logout()">
            LOGOUT
          </button>
        </ion-list>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>