<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div>
          <form [formGroup]="otpForm">
    
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input [formControl]="otpForm.controls['email']"
                  type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
      
            <ion-row>
              <ion-col text-center>
                <button ion-button block color="secondary" (click)="submitOtp(email)">
                  Submit
                </button>
              </ion-col>
            </ion-row>
          </form> 
        </div>
      </div>
    </div>
  </div>      
</ion-content>

