<!--
  Generated template for the Home2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{category_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="categories" padding>
    <!-- <div text-center padding class="catitle" >
      SubCategory
    </div> -->
    <div class="category" text-center *ngFor="let subcategories of subcategory" (click)="productPage(subcategories.id, subcategories.name)">
      <img src="{{subcategories.image}}">
      <span class="ellipsis-single">{{subcategories.name}}</span>
    </div>
  </div>
</ion-content>
