<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <ion-searchbar
        [(ngModel)]="myInput"
        [showCancelButton]="shouldShowCancel"
        (ionInput)="onSearch(myInput)"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <div class="productList" *ngIf="product && product.length==0">
      <h4 padding text-center>No product !</h4>
    </div>
  </div>
  <div>
    <div class="productList" *ngIf="product && product.length>0">
      <ion-row class="productrow" *ngFor="let categories of product; let i = index;">
        <ion-col col-4>
           <img src="{{data.prod_image_url}}{{categories.image}}">
        </ion-col>
        <ion-col col-8>
          <ion-row>
            <ion-col>
              {{categories.name}}
              {{categories.company}}
              <br>
              <!-- {{categories.qty}} -->
            </ion-col>
            <ion-col>
              <div class="cartBt">
                <div class="cartBtn">
                  <button ion-button color="dark" class="probutton" (click)="qtyminus(i, categories.quantity)" >-</button>
                </div>
                <div class="cartBtn">
                  <button ion-button color="dark" class="probutton">{{categories.quantity}}</button>
                </div>
                <div class="cartBtn">
                  <button ion-button color="dark" class="probutton" (click)="qtyplus(i, categories.quantity)" >+</button>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p style="font-weight: bold;">
                Rs {{categories.quantity * categories.price}}
              </p>
            </ion-col>
            <ion-col>
              <button ion-button color="dark" class="probutton" (click)="addtocart(categories.id, categories)">Add to Cart</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <br><br><br><br>
</ion-content>
<ion-footer *ngIf="data.cartlength>0">
  <ion-toolbar class="footer-back">
    <ion-row>
      <ion-col class="footer-badge" align-left>
        {{data.cartlength}} item in cart
      </ion-col>
      <ion-col class="footer-badge1" text-right (click)="goCart()">
          View Cart&nbsp;
          <ion-icon item-right name="ios-arrow-dropright-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
