page-search {
    .searchbar-md .searchbar-input {
        box-shadow: none!important;
        background-color: #017e3a;
        color: #fff;
    }
    .searchbar-md .searchbar-search-icon {
        background-image: url("../assets/imgs/search.png");
    }
    ::placeholder {
        color: #fff!important;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff!important;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #fff!important;
    }
}
