<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

<div class="outer">
  <div class="middle">
    <div class="inner">
    <form [formGroup]="credentialsForm">

        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input [formControl]="credentialsForm.controls['name']"
              type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input [formControl]="credentialsForm.controls['email']"
              type="email" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input [formControl]="credentialsForm.controls['password']"
              type="password"  required></ion-input>
        </ion-item>    
        
        <ion-item>
          <ion-label floating>Phone Number</ion-label>
          <ion-input [formControl]="credentialsForm.controls['mobileno']"
              type="tel"  required></ion-input>
        </ion-item>   
        
        <ion-item>
          <ion-label floating>Address</ion-label>
          <ion-input [formControl]="credentialsForm.controls['address']"
              type="text"  required></ion-input>
        </ion-item>  
        
        <ion-item>
          <ion-label>Accept all terms and conditions</ion-label>
          <ion-checkbox [formControl]="credentialsForm.controls['terms']" [(ngModel)]="terms"></ion-checkbox>
        </ion-item>
      
        <ion-row>
          <ion-col text-center>
            <button ion-button block color="secondary" (click)="signUp()">
              Signup
            </button>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col text-center>
            <button ion-button clear color="dark" (click)="onLogin()">
              Already have an account? Login
            </button>
          </ion-col>
        </ion-row>
      
      </form>
    </div>
  </div>
</div>
</ion-content>
